body {
    background-color: black;
   
}
h1 {
    text-transform: uppercase;
}


.libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  color: white;
  margin-top: 100px;
  text-align: center;
  margin-left: 25%;
  width: 50%;

}

img {
    border: 5px solid white;
    width: 100%;
}